@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: var( --background-color);
  transition: 400ms linear;
}
a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

}
button {
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;

}
.container {
  width: 1000px;
  min-width: 800px;
  max-width: 1420px;
  margin: 0 auto;
  position: relative;
}
.main {
  margin-top: 75px;
  display: flex;
}
/* light theme */
html[data-theme='light'] {
  --background-color: #ffffff;
  --primary-text-color: #060405;
  --secondary-text-color: #CACACA;
  --input-card-background: transparent;
  --input-card-border: #7FCDFA;
}

/* dark theme */
html[data-theme='dark'] {
  --background-color: #3C4349;
  --primary-text-color: #ffffff;
  --secondary-text-color: #8A8E92;
  --input-card-background: #47494E;
  --input-card-border: #7FCDFA;
}
@media screen and (max-width: 450px) {
  .container {
    width: 390px;
    min-width: 300px;
    max-width: 400px;
  }
  .main {
    flex-direction: column;
    margin-top: 25px;
  }
  .slick-slide {
    margin-right: 5px;
  }
  .slick-track {
  width: 600px !important;
  }
}
